@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Autour+One&display=swap');
body{
  width:fit-content;
  background-image: linear-gradient(to bottom,rgb(245, 224, 187),rgb(253, 224, 224),rgb(245, 224, 187));
}
@layer base {
  body{
    @apply dark:bg-gradient-to-b from-slate-900 via-blue-900 to-slate-900 font-[Alkatra]
  }
}
/* .effect {
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  animation: animateBorder 5s infinite;
}
@keyframes animateBorder {
  0% {
    box-shadow: 0 0 0 0 rgb(253, 253, 119);
  }
  50% {
    box-shadow: 0 0 0 8px rgb(245, 178, 61);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(253, 253, 119);
  }
}
.effectt {
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  animation: animateDarkBorder 5s infinite;
}
@keyframes animateDarkBorder {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
  50% {
    box-shadow: 0 0 0 10px rgb(133, 133, 133);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
  }
} */